In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_excel('/Users/yongyang/Downloads/0423.xlsx')

In [3]:
df.fillna(method='ffill',axis=1) # bfill > b- backward

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ,MMBDRQ
0,100511087,乐小城,00010051108701,乐小城,RMB,1,1.0,16.0,0.01,0.01,...,0,xszdynwlwdxoyhse,0,0,0,0,0.0,0.0,0.0,20160125.0
1,100621073,汪长根,00010062107301,汪长根,RMB,1,1.0,16.0,0.01,0.01,...,0,tpzxvgskxpunrgta,0,0,0,0,0.0,0.0,0.0,20170217.0
2,100002533,林洵,00010000253301,林洵,RMB,1,1.0,16.0,0.05,0.05,...,0,wwtcutwprzqkuvvi,0,0,0,0,0.0,0.0,0.0,20140923.0
3,100333938,林秋霞,00010033393801,林秋霞,RMB,1,1.0,16.0,0.01,0.01,...,0,xcxmzixwvjqjtgzc,0,0,0,0,0.0,0.0,0.0,20150728.0
4,100505105,吴家允,00010050510501,吴家允,RMB,1,1.0,16.0,0.01,0.01,...,0,ymufzstmvkwiszrh,0,0,0,0,0.0,0.0,0.0,20160116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,100363906,庞晓冬,00010036390601,庞晓冬,RMB,1,1.0,16.0,0.01,0.01,...,0,saxuwkykwwuktrty,0,0,0,0,0.0,0.0,0.0,20150815.0
3942,100408337,谭建英,00010040833701,谭建英,RMB,1,1.0,16.0,0.03,0.03,...,0,tlzfsouwqjtfvyxz,0,0,0,0,0.0,0.0,0.0,20150920.0
3943,100586743,邹福兰,00010058674301,邹福兰,RMB,1,1.0,16.0,0.02,0.02,...,0,zvrauktxtwwcuozi,0,0,0,0,0.0,0.0,0.0,20161107.0
3944,100407675,赵海霞,00010040767501,赵海霞,RMB,1,1.0,16.0,0.01,0.01,...,0,rlrdyvyptlvvwntk,0,0,0,0,0.0,0.0,0.0,20150917.0
3945,100383136,李明姣,00010038313601,李明姣,RMB,1,1.0,16.0,0.01,0.01,...,0,rsxyyuvlwpxkvuqm,0,0,0,0,0.0,0.0,0.0,20150901.0

In [5]:

df[df['EMAIL']==""].index

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3941   NaN
3942   NaN
3943   NaN
3944   NaN
3945   NaN
Name: EMAIL, Length: 3946, dtype: float64

In [11]:
df.loc[df[df['EMAIL']==""].index,'EMAIL']='a@text.com' # 通过索引去填充

In [12]:
# 填充缺失值
# 确定你要填充的内容 》》》 定位》》》 赋值


# 填充多个值
df.fillna({'EMAIL':'a@ttest.com','MOBILE':'123232132'})

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ,MMBDRQ
0,100511087,乐小城,00010051108701,乐小城,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xszdynwlwdxoyhse,0,0,NaN,NaN,0.0,0.0,0.0,20160125.0
1,100621073,汪长根,00010062107301,汪长根,RMB,1,1.0,16.0,0.01,0.01,...,NaN,tpzxvgskxpunrgta,0,0,NaN,NaN,0.0,0.0,0.0,20170217.0
2,100002533,林洵,00010000253301,林洵,RMB,1,1.0,16.0,0.05,0.05,...,NaN,wwtcutwprzqkuvvi,0,0,NaN,NaN,0.0,0.0,0.0,20140923.0
3,100333938,林秋霞,00010033393801,林秋霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xcxmzixwvjqjtgzc,0,0,NaN,NaN,0.0,0.0,0.0,20150728.0
4,100505105,吴家允,00010050510501,吴家允,RMB,1,1.0,16.0,0.01,0.01,...,NaN,ymufzstmvkwiszrh,0,0,NaN,NaN,0.0,0.0,0.0,20160116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,100363906,庞晓冬,00010036390601,庞晓冬,RMB,1,1.0,16.0,0.01,0.01,...,NaN,saxuwkykwwuktrty,0,0,NaN,NaN,0.0,0.0,0.0,20150815.0
3942,100408337,谭建英,00010040833701,谭建英,RMB,1,1.0,16.0,0.03,0.03,...,NaN,tlzfsouwqjtfvyxz,0,0,NaN,NaN,0.0,0.0,0.0,20150920.0
3943,100586743,邹福兰,00010058674301,邹福兰,RMB,1,1.0,16.0,0.02,0.02,...,NaN,zvrauktxtwwcuozi,0,0,NaN,NaN,0.0,0.0,0.0,20161107.0
3944,100407675,赵海霞,00010040767501,赵海霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rlrdyvyptlvvwntk,0,0,NaN,NaN,0.0,0.0,0.0,20150917.0
3945,100383136,李明姣,00010038313601,李明姣,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rsxyyuvlwpxkvuqm,0,0,NaN,NaN,0.0,0.0,0.0,20150901.0

In [13]:
df['ZHYE'].mean() # 计算均值，默认去掉缺失值

2.8966953877344492

In [16]:
df.loc[0,'KHKH']

nan

In [17]:
df.loc[0,'KHKH'] +1

nan

In [20]:
# 替换值 inplace
df.replace('乐小城','乐大城',inplace=True) # 默认不对元对象修改

In [21]:
df

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ,MMBDRQ
0,100511087,乐大城,00010051108701,乐大城,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xszdynwlwdxoyhse,0,0,NaN,NaN,0.0,0.0,0.0,20160125.0
1,100621073,汪长根,00010062107301,汪长根,RMB,1,1.0,16.0,0.01,0.01,...,NaN,tpzxvgskxpunrgta,0,0,NaN,NaN,0.0,0.0,0.0,20170217.0
2,100002533,林洵,00010000253301,林洵,RMB,1,1.0,16.0,0.05,0.05,...,NaN,wwtcutwprzqkuvvi,0,0,NaN,NaN,0.0,0.0,0.0,20140923.0
3,100333938,林秋霞,00010033393801,林秋霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xcxmzixwvjqjtgzc,0,0,NaN,NaN,0.0,0.0,0.0,20150728.0
4,100505105,吴家允,00010050510501,吴家允,RMB,1,1.0,16.0,0.01,0.01,...,NaN,ymufzstmvkwiszrh,0,0,NaN,NaN,0.0,0.0,0.0,20160116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,100363906,庞晓冬,00010036390601,庞晓冬,RMB,1,1.0,16.0,0.01,0.01,...,NaN,saxuwkykwwuktrty,0,0,NaN,NaN,0.0,0.0,0.0,20150815.0
3942,100408337,谭建英,00010040833701,谭建英,RMB,1,1.0,16.0,0.03,0.03,...,NaN,tlzfsouwqjtfvyxz,0,0,NaN,NaN,0.0,0.0,0.0,20150920.0
3943,100586743,邹福兰,00010058674301,邹福兰,RMB,1,1.0,16.0,0.02,0.02,...,NaN,zvrauktxtwwcuozi,0,0,NaN,NaN,0.0,0.0,0.0,20161107.0
3944,100407675,赵海霞,00010040767501,赵海霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rlrdyvyptlvvwntk,0,0,NaN,NaN,0.0,0.0,0.0,20150917.0
3945,100383136,李明姣,00010038313601,李明姣,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rsxyyuvlwpxkvuqm,0,0,NaN,NaN,0.0,0.0,0.0,20150901.0

In [22]:
# 多对一替换
df.replace(['乐大城','汪长根'],'小明',inplace=True)

In [23]:
df

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ,MMBDRQ
0,100511087,小明,00010051108701,小明,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xszdynwlwdxoyhse,0,0,NaN,NaN,0.0,0.0,0.0,20160125.0
1,100621073,小明,00010062107301,小明,RMB,1,1.0,16.0,0.01,0.01,...,NaN,tpzxvgskxpunrgta,0,0,NaN,NaN,0.0,0.0,0.0,20170217.0
2,100002533,林洵,00010000253301,林洵,RMB,1,1.0,16.0,0.05,0.05,...,NaN,wwtcutwprzqkuvvi,0,0,NaN,NaN,0.0,0.0,0.0,20140923.0
3,100333938,林秋霞,00010033393801,林秋霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xcxmzixwvjqjtgzc,0,0,NaN,NaN,0.0,0.0,0.0,20150728.0
4,100505105,吴家允,00010050510501,吴家允,RMB,1,1.0,16.0,0.01,0.01,...,NaN,ymufzstmvkwiszrh,0,0,NaN,NaN,0.0,0.0,0.0,20160116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,100363906,庞晓冬,00010036390601,庞晓冬,RMB,1,1.0,16.0,0.01,0.01,...,NaN,saxuwkykwwuktrty,0,0,NaN,NaN,0.0,0.0,0.0,20150815.0
3942,100408337,谭建英,00010040833701,谭建英,RMB,1,1.0,16.0,0.03,0.03,...,NaN,tlzfsouwqjtfvyxz,0,0,NaN,NaN,0.0,0.0,0.0,20150920.0
3943,100586743,邹福兰,00010058674301,邹福兰,RMB,1,1.0,16.0,0.02,0.02,...,NaN,zvrauktxtwwcuozi,0,0,NaN,NaN,0.0,0.0,0.0,20161107.0
3944,100407675,赵海霞,00010040767501,赵海霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rlrdyvyptlvvwntk,0,0,NaN,NaN,0.0,0.0,0.0,20150917.0
3945,100383136,李明姣,00010038313601,李明姣,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rsxyyuvlwpxkvuqm,0,0,NaN,NaN,0.0,0.0,0.0,20150901.0

In [24]:
# 多对多替换
df.replace({'小明':'乐大城','00010051108701':'000100AAAA'})

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ,MMBDRQ
0,100511087,乐大城,000100AAAA,乐大城,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xszdynwlwdxoyhse,0,0,NaN,NaN,0.0,0.0,0.0,20160125.0
1,100621073,乐大城,00010062107301,乐大城,RMB,1,1.0,16.0,0.01,0.01,...,NaN,tpzxvgskxpunrgta,0,0,NaN,NaN,0.0,0.0,0.0,20170217.0
2,100002533,林洵,00010000253301,林洵,RMB,1,1.0,16.0,0.05,0.05,...,NaN,wwtcutwprzqkuvvi,0,0,NaN,NaN,0.0,0.0,0.0,20140923.0
3,100333938,林秋霞,00010033393801,林秋霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xcxmzixwvjqjtgzc,0,0,NaN,NaN,0.0,0.0,0.0,20150728.0
4,100505105,吴家允,00010050510501,吴家允,RMB,1,1.0,16.0,0.01,0.01,...,NaN,ymufzstmvkwiszrh,0,0,NaN,NaN,0.0,0.0,0.0,20160116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,100363906,庞晓冬,00010036390601,庞晓冬,RMB,1,1.0,16.0,0.01,0.01,...,NaN,saxuwkykwwuktrty,0,0,NaN,NaN,0.0,0.0,0.0,20150815.0
3942,100408337,谭建英,00010040833701,谭建英,RMB,1,1.0,16.0,0.03,0.03,...,NaN,tlzfsouwqjtfvyxz,0,0,NaN,NaN,0.0,0.0,0.0,20150920.0
3943,100586743,邹福兰,00010058674301,邹福兰,RMB,1,1.0,16.0,0.02,0.02,...,NaN,zvrauktxtwwcuozi,0,0,NaN,NaN,0.0,0.0,0.0,20161107.0
3944,100407675,赵海霞,00010040767501,赵海霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rlrdyvyptlvvwntk,0,0,NaN,NaN,0.0,0.0,0.0,20150917.0
3945,100383136,李明姣,00010038313601,李明姣,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rsxyyuvlwpxkvuqm,0,0,NaN,NaN,0.0,0.0,0.0,20150901.0

In [26]:
# 判断重复值 duplicated()
df.duplicated()  # 默认在行上判断，全部相同才是True
# 删除重复值 drop_duplicates()
df.drop_duplicates('ZHMC') # 删除相同行，后面的行，keep=first、默认保留第一个 keep=false 相同的全部删除，可以指定列

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ,MMBDRQ
0,100511087,小明,00010051108701,小明,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xszdynwlwdxoyhse,0,0,NaN,NaN,0.0,0.0,0.0,20160125.0
2,100002533,林洵,00010000253301,林洵,RMB,1,1.0,16.0,0.05,0.05,...,NaN,wwtcutwprzqkuvvi,0,0,NaN,NaN,0.0,0.0,0.0,20140923.0
3,100333938,林秋霞,00010033393801,林秋霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xcxmzixwvjqjtgzc,0,0,NaN,NaN,0.0,0.0,0.0,20150728.0
4,100505105,吴家允,00010050510501,吴家允,RMB,1,1.0,16.0,0.01,0.01,...,NaN,ymufzstmvkwiszrh,0,0,NaN,NaN,0.0,0.0,0.0,20160116.0
5,100589772,柯亚彩,00010058977201,柯亚彩,RMB,1,1.0,16.0,0.02,0.02,...,NaN,rvuzyowkuorfvnyv,0,0,NaN,NaN,0.0,0.0,0.0,20161111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,100363906,庞晓冬,00010036390601,庞晓冬,RMB,1,1.0,16.0,0.01,0.01,...,NaN,saxuwkykwwuktrty,0,0,NaN,NaN,0.0,0.0,0.0,20150815.0
3942,100408337,谭建英,00010040833701,谭建英,RMB,1,1.0,16.0,0.03,0.03,...,NaN,tlzfsouwqjtfvyxz,0,0,NaN,NaN,0.0,0.0,0.0,20150920.0
3943,100586743,邹福兰,00010058674301,邹福兰,RMB,1,1.0,16.0,0.02,0.02,...,NaN,zvrauktxtwwcuozi,0,0,NaN,NaN,0.0,0.0,0.0,20161107.0
3944,100407675,赵海霞,00010040767501,赵海霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rlrdyvyptlvvwntk,0,0,NaN,NaN,0.0,0.0,0.0,20150917.0
3945,100383136,李明姣,00010038313601,李明姣,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rsxyyuvlwpxkvuqm,0,0,NaN,NaN,0.0,0.0,0.0,20150901.0

In [29]:
df.drop_duplicates(['EMAIL','KHKH'],ignore_index=True) # 忽略原始index

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ,MMBDRQ
0,100511087,小明,00010051108701,小明,RMB,1,1.00,16.00,0.01,0.01,...,NaN,xszdynwlwdxoyhse,0,0,NaN,NaN,0.0,0.0,0.0,20160125.0
1,100601116,"钱储,00010060111601""","钱储,RMB""",1,1,16,0.01,0.01,0.00,0.00,...,NaN,NaN,0,0,0.0,20161223.0,NaN,NaN,NaN,NaN

In [30]:
df['ZHMC'].unique() # 唯一值

array(['小明', '林洵', '林秋霞', ..., '邹福兰', '赵海霞', '李明姣'], dtype=object)

In [31]:
df['ZHMC'].nunique() # 唯一值的个数

3849

In [32]:
df.sort_values(by='YWFW',ascending=False) # 降序排序，默认升序

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ,MMBDRQ
0,100511087,小明,00010051108701,小明,RMB,1,1.00,16.00,0.01,0.01,...,NaN,xszdynwlwdxoyhse,0,0,NaN,NaN,0.0,0.0,0.0,20160125.0
2620,100587145,曹光银,00010058714501,曹光银,RMB,1,1.00,16.00,0.01,0.01,...,NaN,swtdymqyujuawguv,0,0,NaN,NaN,0.0,0.0,0.0,20161107.0
2622,100605017,秦俊,00010060501701,秦俊,RMB,1,1.00,16.00,0.01,0.01,...,NaN,xqwvsmrbxlrexnwa,0,0,NaN,NaN,0.0,0.0,0.0,20170105.0
2623,100577471,赵梅仙,00010057747101,赵梅仙,RMB,1,1.00,16.00,0.01,0.01,...,NaN,snterfqpwftfyauz,0,0,NaN,NaN,0.0,0.0,0.0,20161015.0
2624,100247085,王明坤,00010024708501,王明坤,RMB,1,1.00,16.00,0.06,0.06,...,NaN,rbvgtgxtulwbrqvs,0,0,NaN,NaN,0.0,0.0,0.0,20150607.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3945,100383136,李明姣,00010038313601,李明姣,RMB,1,1.00,16.00,0.01,0.01,...,NaN,rsxyyuvlwpxkvuqm,0,0,NaN,NaN,0.0,0.0,0.0,20150901.0
3372,100616210,"刘闸,00010061621001""","刘闸,RMB""",1,1,16,0.02,0.02,0.00,11314.50,...,NaN,NaN,0,0,0.0,20170206.0,NaN,NaN,NaN,NaN
1670,100357241,"陈扪尧,00010035724101""","陈扪尧,RMB""",1,1,16,0.01,0.01,0.00,0.27,...,NaN,NaN,0,0,0.0,20150809.0,NaN,NaN,NaN,NaN
2319,100572152,"阮松尧,00010057215201""","阮松尧,RMB""",1,1,16,0.01,0.01,0.00,0.00,...,NaN,NaN,0,0,0.0,20160922.0,NaN,NaN,NaN,NaN
1667,100601116,"钱储,00010060111601""","钱储,RMB""",1,1,16,0.01,0.01,0.00,0.00,...,NaN,NaN,0,0,0.0,20161223.0,NaN,NaN,NaN,NaN

In [34]:
df.sort_index(ascending=False)

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ,MMBDRQ
3945,100383136,李明姣,00010038313601,李明姣,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rsxyyuvlwpxkvuqm,0,0,NaN,NaN,0.0,0.0,0.0,20150901.0
3944,100407675,赵海霞,00010040767501,赵海霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rlrdyvyptlvvwntk,0,0,NaN,NaN,0.0,0.0,0.0,20150917.0
3943,100586743,邹福兰,00010058674301,邹福兰,RMB,1,1.0,16.0,0.02,0.02,...,NaN,zvrauktxtwwcuozi,0,0,NaN,NaN,0.0,0.0,0.0,20161107.0
3942,100408337,谭建英,00010040833701,谭建英,RMB,1,1.0,16.0,0.03,0.03,...,NaN,tlzfsouwqjtfvyxz,0,0,NaN,NaN,0.0,0.0,0.0,20150920.0
3941,100363906,庞晓冬,00010036390601,庞晓冬,RMB,1,1.0,16.0,0.01,0.01,...,NaN,saxuwkykwwuktrty,0,0,NaN,NaN,0.0,0.0,0.0,20150815.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,100505105,吴家允,00010050510501,吴家允,RMB,1,1.0,16.0,0.01,0.01,...,NaN,ymufzstmvkwiszrh,0,0,NaN,NaN,0.0,0.0,0.0,20160116.0
3,100333938,林秋霞,00010033393801,林秋霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xcxmzixwvjqjtgzc,0,0,NaN,NaN,0.0,0.0,0.0,20150728.0
2,100002533,林洵,00010000253301,林洵,RMB,1,1.0,16.0,0.05,0.05,...,NaN,wwtcutwprzqkuvvi,0,0,NaN,NaN,0.0,0.0,0.0,20140923.0
1,100621073,小明,00010062107301,小明,RMB,1,1.0,16.0,0.01,0.01,...,NaN,tpzxvgskxpunrgta,0,0,NaN,NaN,0.0,0.0,0.0,20170217.0
0,100511087,小明,00010051108701,小明,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xszdynwlwdxoyhse,0,0,NaN,NaN,0.0,0.0,0.0,20160125.0

In [35]:
df.sort_index? # 查看函数信息

In [39]:
# 数据类型转换
#pandase dtype | python type
dd= pd.DataFrame({'pandase dtype':['object','int64','float64','bool',"datetime64",'timedelta[ns]','category'],
                 'python type':['str or mixed','int','float','bool','NA','NA','NA']})
dd

   pandase dtype   python type
0         object  str or mixed
1          int64           int
2        float64         float
3           bool          bool
4     datetime64            NA
5  timedelta[ns]            NA
6       category            NA

In [40]:
df = pd.DataFrame({'a':[1,2,3],'b':[0.55,0.66,1.55],'c':['Jack','Tony','Posi']})
df

   a     b     c
0  1  0.55  Jack
1  2  0.66  Tony
2  3  1.55  Posi

In [41]:
df.dtypes

a      int64
b    float64
c     object
dtype: object

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      float64
 2   c       3 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 200.0+ bytes

In [43]:
# 更改数值类型 astype()
df['b'].astype(int)

0    0
1    0
2    1
Name: b, dtype: int64

In [45]:
df.dtypes

a      int64
b    float64
c     object
dtype: object

In [47]:
df['b']=df['b'].astype(int)#向下取整
df

   a  b     c
0  1  0  Jack
1  2  0  Tony
2  3  1  Posi

In [48]:
df.dtypes

a     int64
b     int64
c    object
dtype: object

In [56]:
# to_numeric 转化成数值类型（int，float）
df = pd.DataFrame({'a':[1,2,3,7],'b':[0.55,0.66,1.55,'miss'],'c':['Jack','Tony','Posi','James']})
df

   a     b      c
0  1  0.55   Jack
1  2  0.66   Tony
2  3  1.55   Posi
3  7  miss  James

In [57]:
df['b']=pd.to_numeric(df['b'],errors='coerce') # 不能解析的置为nan，

In [58]:
df

   a     b      c
0  1  0.55   Jack
1  2  0.66   Tony
2  3  1.55   Posi
3  7   NaN  James

In [61]:
# 时间类型 to_datetime
df = pd.read_excel('/Users/yongyang/Downloads/0423.xlsx')
df

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ,MMBDRQ
0,100511087,乐小城,00010051108701,乐小城,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xszdynwlwdxoyhse,0,0,NaN,NaN,0.0,0.0,0.0,20160125.0
1,100621073,汪长根,00010062107301,汪长根,RMB,1,1.0,16.0,0.01,0.01,...,NaN,tpzxvgskxpunrgta,0,0,NaN,NaN,0.0,0.0,0.0,20170217.0
2,100002533,林洵,00010000253301,林洵,RMB,1,1.0,16.0,0.05,0.05,...,NaN,wwtcutwprzqkuvvi,0,0,NaN,NaN,0.0,0.0,0.0,20140923.0
3,100333938,林秋霞,00010033393801,林秋霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,xcxmzixwvjqjtgzc,0,0,NaN,NaN,0.0,0.0,0.0,20150728.0
4,100505105,吴家允,00010050510501,吴家允,RMB,1,1.0,16.0,0.01,0.01,...,NaN,ymufzstmvkwiszrh,0,0,NaN,NaN,0.0,0.0,0.0,20160116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,100363906,庞晓冬,00010036390601,庞晓冬,RMB,1,1.0,16.0,0.01,0.01,...,NaN,saxuwkykwwuktrty,0,0,NaN,NaN,0.0,0.0,0.0,20150815.0
3942,100408337,谭建英,00010040833701,谭建英,RMB,1,1.0,16.0,0.03,0.03,...,NaN,tlzfsouwqjtfvyxz,0,0,NaN,NaN,0.0,0.0,0.0,20150920.0
3943,100586743,邹福兰,00010058674301,邹福兰,RMB,1,1.0,16.0,0.02,0.02,...,NaN,zvrauktxtwwcuozi,0,0,NaN,NaN,0.0,0.0,0.0,20161107.0
3944,100407675,赵海霞,00010040767501,赵海霞,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rlrdyvyptlvvwntk,0,0,NaN,NaN,0.0,0.0,0.0,20150917.0
3945,100383136,李明姣,00010038313601,李明姣,RMB,1,1.0,16.0,0.01,0.01,...,NaN,rsxyyuvlwpxkvuqm,0,0,NaN,NaN,0.0,0.0,0.0,20150901.0

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3946 entries, 0 to 3945
Data columns (total 73 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   KHH       3946 non-null   int64
 1   KHXM      3946 non-null   object
 2   ZJZH      3946 non-null   object
 3   ZHMC      3946 non-null   object
 4   BZ        3946 non-null   object
 5   ZHGLJG    3946 non-null   int64
 6   ZHLB      3946 non-null   float64
 7   YWFW      3946 non-null   float64
 8   SRYE      3946 non-null   float64
 9   ZHYE      3946 non-null   float64
 10  DJJE      3946 non-null   int64
 11  LXJS      3946 non-null   float64
 12  DZLX      3946 non-null   int64
 13  YJLX      3946 non-null   float64
 14  TZJS      3946 non-null   float64
 15  ZHZT      3946 non-null   int64
 16  ZZHBZ     3946 non-null   int64
 17  ZHSX      3946 non-null   int64
 18  KHRQ      3946 non-null   int64
 19  XHRQ      3946 non-null   int64
 20  BDRQ      3946 non-null   int64
 21  ZRSZ      3946 non-null   int64
 22  DRCKJE    3946 non-null   float64
 23  ZPYE      3946 non-null   int64
 24  XJYE      3946 non-null   object
 25  YYB       3946 non-null   int64
 26  KHQZ      3946 non-null   object
 27  GSFL      3946 non-null   int64
 28  ZCFZ      3946 non-null   object
 29  WJSZJ     3946 non-null   object
 30  KHH.1     3946 non-null   int64
 31  KHXM.1    3942 non-null   object
 32  KHQC      10 non-null     object
 33  ZJLB      3942 non-null   float64
 34  ZJBH      3942 non-null   object
 35  ZJDZ      10 non-null     object
 36  DH        10 non-null     float64
 37  CZ        9 non-null      float64
 38  PROVINCE  0 non-null      float64
 39  CITY      4 non-null      float64
 40  SEC       4 non-null      float64
 41  YZBM      14 non-null     float64
 42  DZ        14 non-null     object
 43  WTFSFW    3946 non-null   int64
 44  FWXMFW    3946 non-null   int64
 45  CPXMFW    3946 non-null   object
 46  KHRQ.1    3946 non-null   object
 47  XHRQ.1    3946 non-null   int64
 48  KHZT      3942 non-null   float64
 49  ZJMM      3942 non-null   object
 50  JYMM      3946 non-null   object
 51  YYB.1     3946 non-null   int64
 52  YXZZDM    4 non-null      float64
 53  TBTS      4 non-null      float64
 54  KHQZ.1    3946 non-null   object
 55  GSFL.1    3946 non-null   int64
 56  FXJB      3946 non-null   int64
 57  TZZFL     3946 non-null   int64
 58  JGBZ      3946 non-null   int64
 59  KHSX      3942 non-null   float64
 60  XLDM      3946 non-null   object
 61  ZYDM      3946 non-null   int64
 62  GJDM      3946 non-null   int64
 63  KHKH      0 non-null      float64
 64  FXCJYMM   3942 non-null   object
 65  KHJF      3946 non-null   int64
 66  JFQSRQ    3946 non-null   int64
 67  EMAIL     4 non-null      float64
 68  MOBILE    4 non-null      float64
 69  XB        3942 non-null   float64
 70  ZJDLRQ    3942 non-null   float64
 71  MMTBBZ    3942 non-null   float64
 72  MMBDRQ    3942 non-null   float64
dtypes: float64(26), int64(27), object(20)
memory usage: 2.2+ MB

In [70]:
df['MMBDRQ']=pd.to_datetime(df['MMBDRQ'])

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3946 entries, 0 to 3945
Data columns (total 73 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   KHH       3946 non-null   int64
 1   KHXM      3946 non-null   object
 2   ZJZH      3946 non-null   object
 3   ZHMC      3946 non-null   object
 4   BZ        3946 non-null   object
 5   ZHGLJG    3946 non-null   int64
 6   ZHLB      3946 non-null   float64
 7   YWFW      3946 non-null   float64
 8   SRYE      3946 non-null   float64
 9   ZHYE      3946 non-null   float64
 10  DJJE      3946 non-null   int64
 11  LXJS      3946 non-null   float64
 12  DZLX      3946 non-null   int64
 13  YJLX      3946 non-null   float64
 14  TZJS      3946 non-null   float64
 15  ZHZT      3946 non-null   int64
 16  ZZHBZ     3946 non-null   int64
 17  ZHSX      3946 non-null   int64
 18  KHRQ      3946 non-null   int64
 19  XHRQ      3946 non-null   int64
 20  BDRQ      3946 non-null   int64
 21  ZRSZ      3946 non-null   int64
 22  DRCKJE    3946 non-null   float64
 23  ZPYE      3946 non-null   int64
 24  XJYE      3946 non-null   object
 25  YYB       3946 non-null   int64
 26  KHQZ      3946 non-null   object
 27  GSFL      3946 non-null   int64
 28  ZCFZ      3946 non-null   object
 29  WJSZJ     3946 non-null   object
 30  KHH.1     3946 non-null   int64
 31  KHXM.1    3942 non-null   object
 32  KHQC      10 non-null     object
 33  ZJLB      3942 non-null   float64
 34  ZJBH      3942 non-null   object
 35  ZJDZ      10 non-null     object
 36  DH        10 non-null     float64
 37  CZ        9 non-null      float64
 38  PROVINCE  0 non-null      float64
 39  CITY      4 non-null      float64
 40  SEC       4 non-null      float64
 41  YZBM      14 non-null     float64
 42  DZ        14 non-null     object
 43  WTFSFW    3946 non-null   int64
 44  FWXMFW    3946 non-null   int64
 45  CPXMFW    3946 non-null   object
 46  KHRQ.1    3946 non-null   object
 47  XHRQ.1    3946 non-null   int64
 48  KHZT      3942 non-null   float64
 49  ZJMM      3942 non-null   object
 50  JYMM      3946 non-null   object
 51  YYB.1     3946 non-null   int64
 52  YXZZDM    4 non-null      float64
 53  TBTS      4 non-null      float64
 54  KHQZ.1    3946 non-null   object
 55  GSFL.1    3946 non-null   int64
 56  FXJB      3946 non-null   int64
 57  TZZFL     3946 non-null   int64
 58  JGBZ      3946 non-null   int64
 59  KHSX      3942 non-null   float64
 60  XLDM      3946 non-null   object
 61  ZYDM      3946 non-null   int64
 62  GJDM      3946 non-null   int64
 63  KHKH      0 non-null      float64
 64  FXCJYMM   3942 non-null   object
 65  KHJF      3946 non-null   int64
 66  JFQSRQ    3946 non-null   int64
 67  EMAIL     4 non-null      float64
 68  MOBILE    4 non-null      float64
 69  XB        3942 non-null   float64
 70  ZJDLRQ    3942 non-null   float64
 71  MMTBBZ    3942 non-null   float64
 72  MMBDRQ    3942 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(25), int64(27), object(20)
memory usage: 2.2+ MB

In [71]:
df.set_index('MMBDRQ',inplace=True)

In [74]:
df

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,GJDM,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ
MMBDRQ,,,,,,,,,,,,,,,,,,,,,
1970-01-01 00:00:00.020160125,100511087,乐小城,00010051108701,乐小城,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,xszdynwlwdxoyhse,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020170217,100621073,汪长根,00010062107301,汪长根,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,tpzxvgskxpunrgta,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020140923,100002533,林洵,00010000253301,林洵,RMB,1,1.0,16.0,0.05,0.05,...,0,NaN,wwtcutwprzqkuvvi,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020150728,100333938,林秋霞,00010033393801,林秋霞,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,xcxmzixwvjqjtgzc,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020160116,100505105,吴家允,00010050510501,吴家允,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,ymufzstmvkwiszrh,0,0,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.020150815,100363906,庞晓冬,00010036390601,庞晓冬,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,saxuwkykwwuktrty,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020150920,100408337,谭建英,00010040833701,谭建英,RMB,1,1.0,16.0,0.03,0.03,...,0,NaN,tlzfsouwqjtfvyxz,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020161107,100586743,邹福兰,00010058674301,邹福兰,RMB,1,1.0,16.0,0.02,0.02,...,0,NaN,zvrauktxtwwcuozi,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020150917,100407675,赵海霞,00010040767501,赵海霞,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,rlrdyvyptlvvwntk,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020150901,100383136,李明姣,00010038313601,李明姣,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,rsxyyuvlwpxkvuqm,0,0,NaN,NaN,0.0,0.0,0.0

In [73]:
from datetime import datetime
df.index < datetime(2017,3,20)

array([ True,  True,  True, ...,  True,  True,  True])

In [76]:
# 提取1月份的数据
df[df.index.month==1]

,KHH,KHXM,ZJZH,ZHMC,BZ,ZHGLJG,ZHLB,YWFW,SRYE,ZHYE,...,GJDM,KHKH,FXCJYMM,KHJF,JFQSRQ,EMAIL,MOBILE,XB,ZJDLRQ,MMTBBZ
MMBDRQ,,,,,,,,,,,,,,,,,,,,,
1970-01-01 00:00:00.020160125,100511087,乐小城,00010051108701,乐小城,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,xszdynwlwdxoyhse,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020170217,100621073,汪长根,00010062107301,汪长根,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,tpzxvgskxpunrgta,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020140923,100002533,林洵,00010000253301,林洵,RMB,1,1.0,16.0,0.05,0.05,...,0,NaN,wwtcutwprzqkuvvi,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020150728,100333938,林秋霞,00010033393801,林秋霞,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,xcxmzixwvjqjtgzc,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020160116,100505105,吴家允,00010050510501,吴家允,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,ymufzstmvkwiszrh,0,0,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.020150815,100363906,庞晓冬,00010036390601,庞晓冬,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,saxuwkykwwuktrty,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020150920,100408337,谭建英,00010040833701,谭建英,RMB,1,1.0,16.0,0.03,0.03,...,0,NaN,tlzfsouwqjtfvyxz,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020161107,100586743,邹福兰,00010058674301,邹福兰,RMB,1,1.0,16.0,0.02,0.02,...,0,NaN,zvrauktxtwwcuozi,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020150917,100407675,赵海霞,00010040767501,赵海霞,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,rlrdyvyptlvvwntk,0,0,NaN,NaN,0.0,0.0,0.0
1970-01-01 00:00:00.020150901,100383136,李明姣,00010038313601,李明姣,RMB,1,1.0,16.0,0.01,0.01,...,0,NaN,rsxyyuvlwpxkvuqm,0,0,NaN,NaN,0.0,0.0,0.0